*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Inter", sans-serif;
}

main{
    height: 550px;
    width: 550px;
    margin: auto;
}

form{
    height: 90px;
    width: 100%;
    background-color: #1F2937;
    padding: 1.5em 1em;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.seed-color {
    height: 40px;
    border: 2px solid #fff;
    cursor: pointer;
    background: white;
}

select {
    appearance: none; /* Removes default browser styles */
    -webkit-appearance: none; 
    -moz-appearance: none;
    background-color: #1E1E2E;
    color: white;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
}

/* Add custom dropdown arrow */
select {
    background-image: url('data:image/svg+xml;utf8,<svg fill="white" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 12,0 6,6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 30px;
}

/* Style dropdown options */
option {
    background-color: #292B3A;
    color: white;
    padding: 5px;
}

/* Highlight selected option */
.highlighted-option {
    font-weight: bold;
    color: lightgreen
}


button{
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background-color: #3D4B60;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    transition: transform 0.1s, box-shadow 0.1s;
}

button:active{
    transform: scale(0.9); /* Slightly shrink the button */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset; /* Inner shadow */
}

/* after color generation */

.list{
    display: flex;
    height: calc(100vh - 90px);
    width: 100%;
}

.color {
    position: relative;
    width: 20vw;
}

.color span {
    display: inline-block;
    background-color: #1F2937;
    width: 100%;
    text-align: center;
    padding: 1.25em 0;
    color: #fff;
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
    cursor: pointer
}

.fa-solid{
    color: lightskyblue
}

